//start footer
.footer {
    background-color: var(--main-color);
    color: white;
    .container-footer {
        .row-top {
            padding: 70px 0px;
            padding-bottom: 20px;
            .col-custom {
                pre {
                    img {
                        width: 100%;
                    }
                }
                h5 {
                    font-size: 20px;
                    font-weight: 400;
                }
                ul {
                    margin-top: 25px;
                    li {
                        a {
                            color: white;
                            font-size: 14px;
                            font-weight: 300;
                            text-decoration: none;
                        }
                    }
                }
                .install-app-custom {
                    margin-top: 25px;
                    img {
                        width: 70%;
                    }
                }
            }
        }
        .row-bottom {
            background: #de706b !important;
            padding: 5px 0px;
            .col-custom-left {
                font-size: 14px;
                font-weight: 300;
            }
            .col-custom-right {
                ul {
                    li {
                        display: inline;
                        padding: 0px 20px;
                        a {
                            i {
                                color: white;
                                font-size: 15px;
                            }
                        }
                    }
                    @media only screen and (max-width: 576px) {
                        li {
                            padding: 0px 15px;
                        }
                    }
                }
            }
        }
    }
}

.row-bottom {
    background: #9a2a25 !important;
    padding: 5px 0px;
}
.col-custom:nth-child(2),
.col-custom:nth-child(3) {
    @media (max-width: 576px) {
        margin-top: 10px;
        text-align: center;
    }
}
.col-custom:nth-child(1) {
    @media (max-width: 576px) {
        text-align: center;
    }
}
// end footer
