<!-- footer -->
<div class="footer">
    <!-- Footer -->
    <div class="container container-footer">
        <div class="row row-top">
            <div class="col-12 col-md-5 col-custom" [innerHtml]="dataFooter.Content1">
            </div>
            <div class="col-12 col-md-3 col-custom">
                <h5>Install App</h5>
                <div class="install-app-custom">
                    <a [href]="dataFooter?.IosLink" target="_blank" class="d-block"><img
                            src="assets/images/footer-googlelay.png" alt="" class="mb-3"></a>
                    <a [href]="dataFooter?.AndroidLink" target="_blank" class="d-block"><img
                            src="assets/images/footer-appstore.png" alt=""></a>
                </div>
            </div>
            <div class="col-12 col-md-4 col-custom" [innerHtml]="dataFooter.Content2">
            </div>

        </div>
    </div>
    <div class="row-bottom">
        <div class="col-custom-left text-center">&copy; 2020 IZI Software. All rights reserved</div>
    </div>
    <!-- ./Footer -->
</div>
<!-- end footer -->


