<div class="app">
  <!--header start-->
  <header class="header">
    <b
      [ngClass]="
        isShowMenuMobile
          ? 'screen-overlay display-mobile show'
          : 'screen-overlay display-mobile'
      "
    ></b>

    <nav
      id="navbar_main"
      [ngClass]="
        isShowMenuMobile
          ? 'mobile-offcanvas navbar navbar-expand-lg navbar-dark display-mobile show'
          : 'mobile-offcanvas navbar navbar-expand-lg navbar-dark display-mobile'
      "
    >
      <div class="offcanvas-header">
        <button
          (click)="isShowMenuMobile = !isShowMenuMobile"
          class="btn btn-success btn-close float-right"
        >
          &times;
        </button>

        <a class="navbar-brand" routerLink="/"
          ><b class="title-header-main mr-md-5 pl-2">TOEIC UDA</b></a
        >
      </div>
      <ul class="navbar-nav nav-mobile">
        <li class="nav-item li-hover">
          <a
            (click)="isShowMenuMobile = !isShowMenuMobile"
            class="nav-link"
            routerLink="/a1-homepage/trang-chu"
            i18n
            >Trang chủ</a
          >
        </li>
        <li class="nav-item dropdown" style="cursor: pointer;">
          <a
            (click)="isClassShow = !isClassShow"
            class="nav-link menu-icon"
            i18n
          >
            Học tập
          </a>
          <ul
            [ngClass]="
              isClassShow
                ? 'dropdown-menu show dropdown-menu-mobile'
                : 'dropdown-menu'
            "
          >
            <li class="li-dropdown">Cấu trúc</li>
            <li class="li-dropdown">Từ vựng</li>
          </ul>
        </li>

        <li class="nav-item dropdown" style="cursor: pointer;">
          <a (click)="isClass1Show = !isClass1Show" class="nav-link menu-icon">
            Thi thử</a
          >
          <ul
            [ngClass]="
              isClassShow
                ? 'dropdown-menu show dropdown-menu-mobile'
                : 'dropdown-menu'
            "
          >
            <li class="li-dropdown">Đề luyện thi</li>
            <li class="li-dropdown">Đề thi rút gọn</li>
            <li class="li-dropdown">Đề thi luyện nghe</li>
            <li class="li-dropdown">Đề thi luyện đọc</li>
          </ul>
        </li>
        <li class="nav-item li-hover" routerLinkActive="active">
          <a
            (click)="isShowMenuMobile = !isShowMenuMobile"
            class="nav-link"
            routerLink="/d1-check-face/khao-sat"
            i18n
            >Thi TOEIC</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="infoUser != null">
          <img
            width="42"
            height="42px"
            style="object-fit: cover"
            [src]="infoUser?.Avatar"
            alt="avatar"
            class="rounded-circle"
          />
          <a
            (click)="isClassShowAccountMobile = !isClassShowAccountMobile"
            class="nav-link menu-icon"
          >
            {{ infoUser?.Fullname }}
          </a>
          <ul
            [ngClass]="
              isClassShowAccountMobile ? 'dropdown-menu show' : 'dropdown-menu'
            "
          >
            <li class="li-dropdown">
              <a
                (click)="isShowMenuMobile = !isShowMenuMobile"
                class="dropdown-item"
                routerLink="/manager/admin/a1-dashboard/theo-doi-ban-than"
                i18n
                >Thông tin tài khoản</a
              >
            </li>
            <li class="li-dropdown">
              <a class="dropdown-item" i18n (click)="logOut()">Đăng xuất</a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item li-hover"
          *ngIf="infoUser == null"
          (click)="onBtnLoginSocialClick()"
           style="cursor: pointer;"
        >
          <a> <i class="fas fa-sign-in-alt"></i>LOGIN</a>
        </li>
        <!-- <div class="mt-2">
                    <img src="https://icons.iconarchive.com/icons/wikipedia/flags/512/VN-Vietnam-Flag-icon.png"
                        style="margin-right: 3px;" width="30px" height="30px" />
                    <img src="https://img.icons8.com/color/452/usa.png" width="30px" height="30px" />
                </div> -->
      </ul>
    </nav>

    <!-- ///// -->
    <div class="header-main">
      <div class="row display-mobile">
        <div class="col-10 align-items-center text-left">
          <a class="navbar-brand img-header-main mr-md-0" routerLink="/"
            ><img
              src="../../../assets/images/logoUda.png"
              class="logo"
              alt="logo"
              class="img-header-main mr-md-0"
          /></a>
        </div>
        <div class="col-2 pl-4">
          <a
            (click)="isShowMenuMobile = !isShowMenuMobile"
            class="a-menu-mobile"
          >
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="container display-desktop">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand p-0" routerLink="/"
            ><img
              src="../../../assets/images/logoUda.png"
              class="logo"
              alt="logo"
              class="img-header-main mr-md-5"
          /></a>
          <button
            (click)="isShowMenuMobile = !isShowMenuMobile"
            class="navbar-toggler"
            type="button"
            data-trigger="#navbar_main"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="col-md-10 collapse navbar-collapse"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/a1-homepage/trang-chu" i18n
                  >Trang chủ</a
                >
              </li>
              <li
                class="nav-item nav-item-recipe dropdown nav-item-dropdown-custom"
                routerLinkActive="active"
              >
                <a
                  data-toggle="dropdown"
                  class="nav-link itemMenuCustom cursor-pointer"
                >
                  Học tập
                </a>
                <i class="fas fa-caret-down"></i>

                <div
                class="dropdown-menu dropdown-menu-decktop"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li
                  class="nav-item"
                >
                  <a
                    class="nav-link"
                    i18n
                    >Cấu trúc, ngữ pháp</a
                  >
                </li>
                <li
                  class="nav-item"
                >
                  <a
                    class="nav-link"
                    i18n
                    >Từ vựng</a
                  >
                </li>
              </div>
              </li>

              <li
                class="nav-item nav-item-recipe dropdown nav-item-dropdown-custom"
                routerLinkActive="active"
              >
                <!-- <a id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" class="nav-link" i18n></a> -->
                <a
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-toggle="dropdown"
                  class="nav-link itemMenuCustom cursor-pointer"
                  routerLink="/b1-list-recipe/luyen-tap"
                >
                  Thi thử
                </a>
                <i class="fas fa-caret-down"></i>

                <div
                  class="dropdown-menu dropdown-menu-decktop"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li
                    class="nav-item" (click)="tofull()"
                  >
                    <a
                      class="nav-link"
                      i18n
                      >Đề thi thử TOEIC</a
                    >
                  </li>
                  <li
                    class="nav-item" (click)="tomini()"
                  >
                    <a
                      class="nav-link"
                      i18n
                      >Đề thi thử rút gọn</a
                    >
                  </li>
                  <li
                    class="nav-item" (click)="tolisten()"
                  >
                    <a
                      class="nav-link"
                      i18n
                      >Đề thi luyện nghe</a
                    >
                  </li>
                  <li
                    class="nav-item" (click)="toread()"
                  >
                    <a
                      class="nav-link"
                      i18n
                      >Đề thi luyện đọc</a
                    >
                  </li>

                </div>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/d1-check-face/khao-sat" i18n>Thi TOEIC</a>
              </li>
            </ul>
            <div class="col-md-2 col-header-top">
              <ul class="ul-top-first">
                <li *ngIf="infoUser == null" (click)="onBtnLoginSocialClick()">
                  <a  class="login-btn">
                    <i
                      class="fas fa-sign-in-alt mr-1"
                    ></i
                    >LOGIN</a
                  >
                </li>
              </ul>
              <div
                class="nav-item dropdown block-user-login d-flex align-items-center"
                *ngIf="infoUser != null"
              >
                <img
                  width="42"
                  height="42px"
                  style="object-fit: cover"
                  [src]="infoUser?.Avatar"
                  alt="avatar"
                  class="rounded-circle"
                />
                <a
                  (click)="isClass2Show = !isClass2Show"
                  id="navbarDropdownUser"
                  class="d-flex align-items-center nav-tab-a"
                >
                  <p class="nav-link d-inline-block text-name">
                    {{ infoUser?.Fullname }}
                  </p>
                  <div>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </a>

                <div
                  [ngClass]="
                    isClass2Show
                      ? 'dropdown-menu info-logout show'
                      : 'dropdown-menu info-logout'
                  "
                  aria-labelledby="navbarDropdownUser"
                >
                  <a
                    class="dropdown-item"
                    (click)="goProfile()"
                    i18n
                    >Thông tin tài khoản</a
                  >
                  <a class="dropdown-item" i18n (click)="logOut()">Đăng xuất</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div style="clear: both"></div>
    <!--end info first-->
  </header>
  <!--end header-->

  <!-- begin main -->
  <router-outlet></router-outlet>
  <!-- end main -->
  <!-- start footer
  <<app-footer></app-footer>>
   end footer -->
</div>
