<div class="content" id="header">
  <div class="bannertoic lazyloaded">
    <div class="containertoic containertoic-index">
      <div class="row">
        <div class="onlinetoic">
          <h1 class="onlinetoic_one">
            ONLINE TOEIC TEST - Thi Thử <br />
            TOEIC Online Miễn Phí
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="slogantoic slogantoic-one">
          Đề thi thử TOEIC được thực hiện theo format mới, có chấm điểm và giải
          thích chi tiết giúp bạn đánh giá chính xác điểm TOEIC hiện tại đặc biệt
          website dễ sử dụng và hoàn toàn miễn phí phù hợp với tất cả mọi người
        </div>
      </div>
    </div>
  </div>
  <div class="testfull">
    <div class="containertoic" id="fulltest">
      <div class="row rowtoic-text">
        <div class="testfullwrap ml-5">
          <div class="testfullwrapinner testfullwrap_one">
            <span class="testfullonetwo testfull-one">TEST FULL</span>
            <span class="testfullonetwo testfull-two">LISTENING + READING</span>
          </div>
          <div class="line"></div>
          <div class="testfullwrapinner testfullwrap_two">
            <span class="testfullonetwo testfull-one">KIỂM TRA ĐẦY ĐỦ</span>
            <span class="testfullonetwo testfull-two">NGHE + ĐỌC</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="containertoic" id="minitest">
      <div class="row rowtoic-text" style="padding-top: 10px">
        <div class="testfullwrap ml-4">
          <div class="testfullwrapinner testfullwrap_one">
            <span class="testfullonetwo testfull-one">TEST SHORT</span>
            <span class="testfullonetwo testfull-two">LISTENING + READING</span>
          </div>
          <div class="line"></div>
          <div class="testfullwrapinner testfullwrap_two">
            <span class="testfullonetwo testfull-one">KIỂM TRA NGẮN</span>
            <span class="testfullonetwo testfull-two">NGHE + ĐỌC</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="containertoic" id="listening">
      <div class="row rowtoic-text" style="padding-top: 10px">
        <div class="testfullwrap">
          <div class="testfullwrapinner testfullwrap_one">
            <span class="testfullonetwo testfull-one">TEST LISTENING</span>
          </div>
          <div class="line" style="height:23px"></div>
          <div class="testfullwrapinner testfullwrap_two">
            <span class="testfullonetwo testfull-one">KIỂM TRA NGHE</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="containertoic" id="reading">
      <div class="row rowtoic-text" style="padding-top: 10px">
        <div class="testfullwrap">
          <div class="testfullwrapinner testfullwrap_one">
            <span class="testfullonetwo testfull-one">TEST READING</span>
          </div>
          <div class="line"  style="height:23px"></div>
          <div class="testfullwrapinner testfullwrap_two">
            <span class="testfullonetwo testfull-one">KIỂM TRA ĐỌC</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="itemtestshot itemtestshot-one one">
            <div class="spanexam-three slide-be">
              <span class="spanexam_one">Đề</span><span class="spanexam_two">01</span>
            </div>
            <div class="timedateout">
              <div class="timedateexam timedateexam-two one">Thời gian : 01h
                15m</div>
              <div class="timedateexam timedateexam-two two">Đề TOEIC Reading 1 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="totop" (click)="toheader()">
    <span class="material-icons p-1" style="font-size: 30px; color:white;cursor: pointer;">arrow_upward</span>
  </div>
</div>
