* {
  margin: 0;
  padding: 0;
}
.bannertoic.lazyloaded {
  background-image: url(https://vieclam123.vn/pictures/toic/banner/1.png);
}
.bannertoic {
  height: 415px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  position: relative;
}
.containertoic-index {
  position: relative;
  z-index: 2;
}

.containertoic {
    max-width: 1170px;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.onlinetoic {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  color: #fff;
  margin-top: 55px;
}
.slogantoic-one {
  font-size: 22px;
  color: #fff;
  margin-top: 15px;
  line-height: 34px;
  width: 673px;
}
.bannertoic.lazyloaded:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(39, 122, 43, 0.84) 0.76%, rgba(69, 107, 151, 0.58) 48.84%, rgba(72, 109, 153, 0.42) 59.52%, rgba(255, 255, 255, 0) 79.65%);
}
.testfull {
  background-color: #f4f4f4;
  padding-top: 45px;
  padding-bottom: 30px;
}
.rowtoic-text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}
.testfullwrap {
  display: -webkit-box;

  display: flex;
}
.testfullwrap_one {
  font-weight: 700;
  text-align: right;
  margin-right: 20px;
}
.line{
  display: block;
  height: 40px;
  width: 4px;
  background-color: #075A07;
  margin-right: 20px;
  margin-top: -3px;
}
.testfull-one {
  font-size: 30px;
}

.testfullonetwo {
  color: #075A07;
  display: block;
}
.testfull-two {
  font-size: 20px;
  margin-top: 0px;
}

.testfullwrap_two {
  text-align: left;
}


/* aaaaa */
.itemtestshot {
  color: #075A07;
  width: 92%;
  margin-left: 4%;
}
.itemtestshot:hover{
  background-color: #075A07;
  color: white;
}
.itemtestshot:hover .spanexam-three {
  border: 1px solid white;
}
.exam-one, .itemtestshot {
  cursor: pointer;
}
.itemtestshot-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
.itemtestshot-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
.spanexam-three {
  max-height: 95px;
  max-width: 95px;
  min-height: 95px;
  min-width: 95px;
  text-align: center;
  color: #075A07;
  line-height: 30px;
  font-size: 24px;
  border-radius: 50%;
  border: 1px solid #075A07;
  margin-right: 15px;
}

.spanexam-three, .timedateexam-two {
  color: inherit !important;
}
.spanexam_one {
  display: block;
  margin-top: 15px;
}
.totop{
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: green;
}
