.container{
  background-color: white;
  height: 600px;
}
.app{
  background-color: #eeeeee;
}
.col-6{
  margin: 0px;
  padding: 0px 50px;
}
.title{
  color: #075A07;
  font-weight: 700;
  font-size: 20px;
}
span{
  text-align: justify;
  font-size: 17px;
}
span .cham{
  position: absolute;
  right: 15%;
}
.checked-avt{
  display: block;
  width: 250px;
  height: 300px;
  position: relative;
  left: 25%;
  border: 1px solid black;
}
.checked-avt img{
  width: 100%;
  height: 100%;
}
.btn-danger {
  background-color: #025215;
  color: white;
  border-color: #025215;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.vertical-center {
  position: relative;
  left: 38%;
}
