<div class="app">
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-6 p-5">
        <div class="rules">
          <div class="title text-center">NỘI QUY PHÒNG THI</div>
          <div class="row content">
            <span
              >1. Cấm mọi hành vi giả mạo giấy tờ, gian lận thông tin cá nhân,
              tráo đổi người đi thi.
            </span>
            <span
              >2. Chỉ mang theo bản gốc CMND/ hộ chiếu và Phiếu đăng ký dự thi vào
              phòng thi.
            </span>
            <span
              >3. Ổn định chỗ ngồi tuyệt đối giữ trật tự, không gây ra tiếng động,
              không trao đổi thông tin. Chỉ trao đổi với giám thị để được cung cấp
              thông tin liên quan khi bài thi chưa chính thức bắt đầu.
            </span>
            <span
              >4. Có thái độ nghiêm túc, lịch sự, hợp tác và tuyệt đối tuân thủ
              hướng dẫn của Giám thị trong phòng thi.
            </span>
            <span
              >5. Quy định không được ra khỏi phòng thi với bất kỳ lý do gì.</span
            >
            <span
              >6. Sau khi hoàn thành bài thi, báo giám thị để kí tên và rời khỏi
              phòng thi.</span
            >
          </div>
        </div>
        <div class="tutorial mt-4">
          <div class="title text-center">HƯỚNG DẪN VÀO THI</div>
          <div class="row content">
            <span
              >1. Xác định danh tính bằng camera ở bên trái trước khi vào thi.
            </span>
            <span
              >2. Đề thi gồm 200 câu gồm 2 phần lớn Reading và Listening được chia
              thành 7 phần.
            </span>
            <span
              >3. Thí sinh có 2 tiếng để làm bài, khi hoàn thành nhấn Submit để
              nhận kết quả.
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="checked-avt mt-3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaTIfWb891qcFfL1xqRWXAjeIdxYcIzZcCswtfBWwqXj9c3wUJbqawqyMj9Ret-68esys&usqp=CAU"/>
        </div>
        <div class="information pt-3">
          <div class="row">
          <div class="col-3"></div>
            <div class="col-3">
              <span>Họ và tên<span class="cham">:</span></span><br />
              <span>Ngày sinh<span class="cham">:</span></span><br />
              <span>CMND<span class="cham">:</span></span><br />
              <span>Quê quán<span class="cham">:</span></span>
            </div>
            <div class="col-5 p-0">
            <span>Nguyễn Văn A</span><br />
            <span>10-03-1999 </span><br />
            <span>212799789 </span><br />
            <span>10 Núi Thành - Hòa Cường Nam - Hải Châu - Đà Nẵng</span>
            </div>
          </div>
        </div>
        <div class="vertical-center my-5">
          <button type="button" class="btn btn-danger" routerLink="/d1-exam/thi-toeic">
            Bắt đầu thi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
