.app {
  background-color: #eeeeee;
  position: relative;
}
.totop{
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: green;
}
.container {
  background-color: white;
}
.nav-tabs {
  border: none;
}
.nav-item {
  margin-left: 3.08%;
}
.nav-link {
  font-size: 20px;
  color: black;
  background-color: #c4c4c4;
  font-weight: normal;
  border: none;
  border-radius: 0% !important;
}
.nav-tabs .nav-link.active {
  color: white;
  background-color: green;
  border: none;
  border-radius: 0%;
}
.title-part {
  font-size: 15px;
  display: block;
  height: 28px;
  width: 100%;
  border: 1px solid #c4c4c4;
  padding-left: 3px;
}
.exam-part {
  padding-top: 20px;
}
span,
b {
  font-size: 18px;
}
label {
  padding: 0 0 0 5px;
  margin: 0px;
  font-size: 18px;
}
.form-group {
  padding: 0px;
  margin: 0px;
}
input[type="radio"] {
  width: 12px;
  height: 12px;
}

//box-result
.head-box {
  background-color: green;
  padding: 10px;
  width: 103%;
}
.list-number {
  width: 103%;
  border: 1px solid green;
  padding-bottom: 8px;
}
.part {
  display: inline-block;
  background-color: green;
  margin: 12px 0px 0px 10px;
  padding: 0px 5px;
  color: white;
  float: left;
}
.row {
  margin: 0;
  padding-left: 2px;
}
.col-9 {
  margin-left: 5px;
}
.question {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #777777;
  text-align: center;
  line-height: 27px;
  color: black;
  padding: 0px;
  margin: 8px 0px 0px 4px;
  float: left;
  cursor: pointer;
}
.question:hover {
  background-color: rgb(172, 175, 172);
  color: green;
}
.gr_score {
  padding-top: 70px;
  padding-left: 70px;
}
.label {
  margin-left: 11%;
  float: left;
  padding-top: 15px;
  font-weight: 500;
}
.input-resutl {
  margin-right: 23%;
  float: right;
  height: 50px;
  width: 170px;
  background-color: #86e28f;
  color: black;
  border: none;
  box-shadow: none;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
.score-table {
  float: right;
  color: red;
  font-style: italic;
}
.checked{
  background-color: green;
  color: white;
}
.is-hidden {
  display: none;
}
.question:focus {
  background-color: yellow;
  color: green !important;
  box-shadow: none;
}
.total{
  color: white;
  background: #025215;
  border: none;
  font-size: 20px;
  padding: 5px;
  margin-top: 3px;
  margin-left: -25px;
}
.right{
  color: green;
}
.false{
  color: white;
  background-color: #ff0000c0;
}
