*{
  font-size: 16px;
}
.material-icons {
  font-size: 20px;
}
.header-bc{
  display: block;
  width: 100%;
  height: 50px;
  background-color: green;
  border-radius: 5px;
  h1{
    color: white;
    padding: 10px 30px;
  }
}
.btn-danger {
  background-color: green;
  color: white;
  border-color: green;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.material-icons{
  position: relative;
  top: 5px;
}
.launch{
  background-color: green;
  color: white;
  padding-bottom: 5px;
  border: none;
}
.delete{
  background-color: red;
  color: white;
  padding-bottom: 5px;
  border: none;
  margin-left: 2px;
}
button{
  cursor: pointer;
}

// .mat-column-action{
//   position: absolute;
//   right: 0;
// }
// .mat-column-id {
//   flex: 0 0 10%;
//   width: 10%;
// }
