<div class="container-fluid p-0">
  <div class="header-bc">
    <h1>Exams</h1>
  </div>
  <div class="table mt-3">
    <mat-form-field class="ml-2">
      <mat-label style="color: green; font-size: 18px">Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter()"
        placeholder="Ex. abc"
        [(ngModel)]="value"
        #input
      />
      <button
        mat-button
        style="background: green"
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onSearchClear()"
      >
        <span>X</span>
      </button>
    </mat-form-field>
    <button
      class="btn btn-danger float-right mr-1 py-2 mt-1"
      style="font-size: 16px"
      (click)="open(content)"
    >
      <span class="material-icons"> add </span><span>Add</span>
    </button>
    <mat-table [dataSource]="dataSource" matSort>
      <!-- id name Definition -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Id
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>

      <!-- date Definition -->
      <ng-container matColumnDef="create_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Create on
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.create_on | date }} </mat-cell>
      </ng-container>

      <!-- action Definition -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button class="launch" mat-icon-button (click)="getCategory(row.id)" (click)="openEdit(editCategory, row.id)">
            <mat-icon>launch</mat-icon>
          </button>
          <button
            class="delete"
            mat-icon-button
            (click)="deleteCategory(row.id)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Category</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <!--
      <span *ngIf="profileForm.controls.code.invalid" class="errorMessage">
        * Cần phải nhập mã sinh viên
      </span> -->
      <mat-form-field class="form-header">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter name"
          formControlName="name"
          require
        />
      </mat-form-field>

      <br />
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!categoryForm.valid"
        (click)="saveAndGotoList()"
        (click)="modal.close('Close click')"
        mat-dialog-close
      >
        Save
      </button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!categoryForm.valid"
        (click)="save()"
      >
        Save <span *ngIf="id === 0">and Reset</span>
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </form>
  </div>
</ng-template>
<ng-template #editCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Friend</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editCategoryForm">
      <!--
      <span *ngIf="profileForm.controls.code.invalid" class="errorMessage">
        * Cần phải nhập mã sinh viên
      </span> -->
      <mat-form-field class="form-header">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter name"
          formControlName="name"
          require
          [(ngModel)]="editCategoryForm.controls"
        />
      </mat-form-field>

      <br />
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!categoryForm.valid"
        (click)="update()"
        (click)="modal.close('Close click')"
        mat-dialog-close
      >
        Update
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </form>
  </div>
</ng-template>
