<div class="app">
    <!--start container-->
    <div class="container">
        <!--main content-->
        <div class="container__main">
            <div class="row">
    <div
      class="news col-lg-7 col-md-7 col-xs-12 pr-0"
      style="border-right: 1px dotted black"
    >
      <div class="home-title">
        <img class="img-logo" src="assets/images/hoaUda.png" />
        <b>Thông tin thông báo</b>
      </div>
      <div class="card-new pt-2" *ngFor="let new of news">
        <b class="title-new">{{ new.title }}</b>
        <p class="day-new"><i class="far fa-calendar-alt"></i>{{ new.day }}</p>
        <b class="content-new text-dark">{{ new.content }}</b>
        <p class="full-new text-right py-2 pr-3">
          <a class="btn btn-danger" href="/">Xem chi tiết...</a>
        </p>
      </div>
    </div>
    <div class="regis-form col-lg-5 col-md-5 col-xs-12">
      <div class="home-title">
        <img class="img-logo" src="assets/images/hoaUda.png" />
        <b>Thông báo thi TOEIC</b>
      </div>
      <div class="title text-center">
        <b
          >THÔNG BÁO<br />
          KẾ HOẠCH TỔ CHỨC THI CẤP CHỨNG CHỈ TOEIC QUỐC TẾ<br />
          (ĐỢT THI THÁNG {{ day_title }})</b
        >
      </div>
      <div class="content">
        <p>
          ĐH Đông Á thông báo
          <b
            >Kế hoạch tổ chức thi Chứng chỉ TOEIC quốc tế (đợt thi tháng
            {{ day_title }})</b
          >
          tại Trường như sau:<br />
          <b>1. Đối tượng dự thi:</b><br />
          ∙ Học viên, sinh viên của Trường có nhu cầu dự thi để được cấp chứng
          chỉ TOEIC quốc tế.<br />
          ∙ Các đối tượng khác có nhu cầu.<br />
          <b>2. Hình thức thi:</b><br />
          ∙ Bài thi TOEIC hai kỹ năng trên <b>máy tính</b>: TOEIC Listening &
          TOEIC Reading.<br />
          <b>3. Thời gian làm bài:</b> 120 phút<br />
          <b>4. Địa điểm thi: </b> <b>Trường ĐH Đông Á</b>, 33 Xô Viết - Nghệ
          Tĩnh, Hải Châu, Đà Nẵng.
        </p>
        <p class="full-new text-right py-2">
          <button class="btn btn-danger">
            Đăng kí ngay!
          </button>

          <!--<ng-template #mymodal let-modal class="form">
            <div class="modal-body">
              <div class="title text-center">
                <h4 class="modal-title" id="modal-basic-title">
                  <b>PHIẾU ĐĂNG KÍ THI TOEIC</b>
                </h4>
                <p style="font-size:14px">
                  (Xin vui lòng điền tất cả thông tin vào tất cả các mục dưới đây)
                </p>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="form-content">
                <span>Tên đơn vị/ tổ chức đăng kí dự thi: <b>TRƯỜNG ĐẠI HỌC ĐÔNG Á</b></span><br>
                <span>Họ và tên:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Ngày sinh:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Giới tính:</span>
                <input class="name" type="text" name="ten"><br>
                <span>SĐT:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Nghề nghiệp:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Số CMND:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Email:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Địa chỉ:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Ảnh chân dung:</span>
                <input class="name" type="text" name="ten"><br>
                <span>Lệ phí thi:</span>
                <input class="name" type="text" name="ten"><br>
              </div>
              <button
                type="button"
                class="btn btn-danger float-right"
                (click)="modal.close('Save click')"
              >
                Đăng kí và thanh toán!
              </button>
            </div>
          </ng-template>-->
        </p>
      </div>
    </div>
  </div>
        </div>
        <!--end main content-->
    </div>
