.app{
  background-color:#eeeeee;
}
.news{
  height: auto;
}
.container{
  background-color: white;
  padding: 10px;
}
.img-logo{
  width: 30px;
  height: 30px;
}
p{
  margin: 0%;
  padding: 0%;
}
b .title{
  text-align: center;
}
b {
  color: #025215;
}
.card-new{
  border-bottom-style: dotted;
  border-bottom-color: #025215;
  border-bottom-width: 1px;
  padding-left: 5px;
}
.btn-danger {
  background-color: #025215;
  color: white;
  border-color: #025215;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.modal-body button.close{
  position: absolute;
  top: 2px;
  right:10px;
}
h4{
  color: #025215;
}
input.name{
  text-transform: uppercase;
}
.form{
  width: 1000px !important;
}

