<div class="container-fluid p-0">
  <div class="header-bc">
    <h1>Questions</h1>
  </div>
  <div class="table mt-3">
    <mat-form-field class="ml-2">
      <mat-label style="color: green; font-size: 18px">Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter()"
        placeholder="Ex. abc"
        [(ngModel)]="value"
        #input
      />
      <button
        mat-button
        style="background: green"
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onSearchClear()"
      >
        <span>X</span>
      </button>
    </mat-form-field>
    <button class="btn btn-danger float-right mr-1 py-2 mt-1" style="font-size: 16px;" data-toggle="modal"
    data-target="#QSModal">
      <span class="material-icons"> add </span><span>Add</span>
    </button>
    <mat-table [dataSource]="dataSource" matSort>
      <!-- id name Definition -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Id
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="exams_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Exam id
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.exams_id }} </mat-cell>
      </ng-container>

       <!-- name Definition -->
       <ng-container matColumnDef="question_index">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          QS Index
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.question_index }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Question
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.question }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="anwser_a">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          A
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.anwser_a }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="anwser_b">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          B
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.anwser_b }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="anwser_c">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          C
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.anwser_c}} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="anwser_d">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          D
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.anwser_d }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="correct">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Correct
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.correct }} </mat-cell>
      </ng-container>

      <!-- name Definition -->
      <ng-container matColumnDef="image_url">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Image
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> <img *ngIf="row.image_url" src="{{ row.image_url }}" style="width:70px; height:70px"> </mat-cell>
      </ng-container>

      <!-- action Definition -->
      <ng-container matColumnDef="action" >
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button class="launch" mat-icon-button><mat-icon>launch</mat-icon></button>
          <button class="delete" (click)="deleteQuestion(row.id)" mat-icon-button>
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="5"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
<div
  class="modal fade"
  id="QSModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Add Question</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionForm">
          <mat-form-field class="form-header">
            <mat-label>Exam Id</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="exams_id"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>QS index</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="question_index"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Question</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="question"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Answer A</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="anwser_a"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Answer B</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="anwser_b"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Answer C</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="anwser_c"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Answer D</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="anwser_d"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Correct</mat-label>
            <input
              matInput
              placeholder="Enter"
              formControlName="correct"
              require
            />
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Image</mat-label>
            <ngx-mat-file-input formControlName="image_url">
              <span class="material-icons">
                folder
                </span>
            </ngx-mat-file-input>
          </mat-form-field>
          <br />
          <mat-form-field class="form-header">
            <mat-label>Audio</mat-label>
            <ngx-mat-file-input formControlName="audio">
              <span class="material-icons">
                folder
                </span>
            </ngx-mat-file-input>
          </mat-form-field>
          <br />
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!questionForm.valid"
            (click)="saveAndGotoList()"
            data-dismiss="modal"
            mat-dialog-close
          >
            Save
          </button>
          &nbsp;
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!questionForm.valid"
            (click)="save()"
          >
            Save <span>and Reset</span>
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-outline-dark"
            data-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
