.col-header-top-left {
  float: left;
  .ul-top-first {
    margin-bottom: 0px;
    display: inline-block;
    padding: 0;
    li {
      margin: 0px 10px;
      a {
        color: #000000;
        i {
          color: #ff443b;
        }
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
.alert-danger {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
//// test
.display-mobile {
  display: none;
  @media only screen and (max-width: 992px) {
    display: flex;
    visibility: visible;
  }
}
.display-desktop {
  height: 700px;
  visibility: visible;
  @media only screen and (max-width: 992px) {
    visibility: hidden;
    display: none;
  }
}
.offcanvas-header {
  display: none;
  .title-header-main {
    color: #075a07;
  }
}
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
}
.screen-overlay.show {
  transition: opacity 0.5s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

@media all and (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }

  .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .mobile-offcanvas.show {
    visibility: visible;
    transform: translateX(0);
  }
}
.nav-mobile {
  margin-top: 10px;

  .li-hover {
    &:hover {
      background-color: var(--main-color);
      a {
        color: #fff !important;
      }
    }
  }
  li {
    a {
      color: #000;
      text-transform: uppercase;
      margin-left: 10px;
      font-weight: 500;
      white-space: pre-wrap;
    }
  }
}
.nav-item.active {
  background-color: var(--main-color);
  a {
    color: #fff !important;
  }
}
.li-dropdown {
  display: block !important;
  border-bottom: 1px solid #33333347;
  a {
    font-size: 12px;
    &:hover {
      background-color: var(--main-color);
      color: #fff !important;
      padding: 5px;
    }
  }
}
.li-dropdown:last-child {
  border-bottom: none !important;
}

.a-menu-mobile {
  cursor: pointer;
  padding: 3px 9px;
  display: inline-block;
  background: #fff;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: var(--main-color) !important;
}
#lblCartCount {
  font-size: 14px;
  background: #fff;
  color: var(--main-color);
  padding: 2px 5px;
  margin-left: 0px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
}
// end test

.col-header-top {
  float: right;
  .ul-top-first {
    margin-bottom: 0px;
    display: inline-block;
    li {
      margin: 0px 10px;
      a {
        color: #000000;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
.col-header-top-mobile {
  padding: 0px;
  .ul-top-mobile1 {
    padding: 0px;
    margin-bottom: 0px;
    display: inline-block;
    li {
      margin: 0px 5px;
      a {
        color: #000000;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .ul-top-mobile2 {
    padding: 0px;
    margin-bottom: 0px;
    display: inline-block;
    li {
      margin: 0px 5px;
      display: inline-block;
      a {
        color: #000000;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.header {
  .header-main .display-desktop .img-header-main {
    height: 80%;
    width: 80%;
    padding: 0%;
    margin: 0%;
  }
  .header-main .display-mobile .img-header-main {
    position: absolute;
    top: -1px;
    .title-header {
      color: white;
    }
  }
  .header-top {
    // float: left;
    width: 100%;
    background-color: #fcfcfc;
    padding: 0px 0px;
    .header-top-left {
      padding: 5px 0px 0px 0px;
      float: left;
      width: 80%;
      list-style: none;
      margin: 0px;
      li {
        float: left;
        font-size: 16px;
        font-weight: 400;
        margin-right: 5%;
        a {
          color: #333;
        }
      }
    }
    @media only screen and (max-width: 1024px) {
      .header-top-left {
        width: 60%;
        li {
          float: left;
          width: 50%;
          font-size: 16px;
        }
      }
    }
    .header-top-right {
      float: left;
      width: 20%;
      list-style: none;
      margin: 0px;
      li {
        float: left;
        width: 30%;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      li.icon-card {
        font-size: 27px;
        color: #ff4e44;
        border: none;
      }
      li.multi-lang {
        width: 90px;
      }
    }
    @media only screen and (max-width: 1024px) {
      .header-top-right {
        width: 40%;
        li {
          float: left;
          width: 33.3%;
        }
      }
    }
    @media only screen and (max-width: 720px) {
      .header-top-right {
        width: 100%;
        padding-left: 0px;
        li {
          width: 33.3%;
          i {
            font-size: 20px;
          }
        }
      }
      .header-top-left {
        width: 100%;
        li {
          float: left;
          width: 50%;
          font-size: 16px;
        }
      }
    }
    @media only screen and (max-width: 420px) {
      .header-top-right {
        li.multi-lang {
          width: 75px;
        }
        li.icon-card {
          position: relative;
          width: 31px !important;
          i {
            font-size: 27px;
            color: #ff4e44;
          }
          span {
            position: absolute;
            top: -20%;
            left: 60%;
          }
        }
        li.block-login {
          width: 70%;
          margin-left: 10px;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .header-top {
      padding: 5px;
    }

  }
  .header-main {
    background-color: var(--main-color);
    float: left;
    height: 70px;
    width: 100%;
    padding: 0px 30px;
    .navbar {
      padding: 0 !important;
      .navbar-toggler {
        border-color: rgba(255, 255, 255, 1);
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
      }
      .navbar-collapse {
        ul {
          li {
            margin-right: 15px;
            border-bottom: 2px solid var(--main-color);
            a {
              color: white;
              font-size: 17px;
              font-weight: 500;
              text-transform: uppercase;
              @media screen and (max-width: 720px) {
                font-size: 15px;
              }
            }
            &:hover {
              border-bottom: 2px solid #fff;
            }
          }
        }
        .searchbar {
          background: #fff;
          border: none;
          border-radius: 30px;
          width: 25%;
          font-size: 18px;
          padding: 10px;
          .search_input {
            border: none;
            border-radius: 30px;
            width: 90%;
            outline: 0;
          }
          .search_icon {
            width: 10%;
            color: var(--main-color);
          }
        }
        @media only screen and (max-width: 1024px) {
          .searchbar {
            font-size: 12px;
          }
        }
        @media only screen and (max-width: 768px) {
          .searchbar {
            position: absolute;
            top: 120%;
            z-index: 1;
            width: 70%;
          }
        }
        @media only screen and (max-width: 575px) {
          .searchbar {
            position: unset;
            width: 100%;
            font-size: 18px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .header-main {
      position: relative;
    }
  }
}
.bg-img {
  position: relative;
  display: block;
  width: 380px;
  text-align: center;
  top: 100px;
  left: 0;
}
.form-holder .form-content {
  position: relative;
  top: 80px;
  left: 5%;
  .nav-pills {
    .nav-item .active {
      color: var(--button-color) !important;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 2px solid var(--button-color);
      border-right: 2px solid var(--button-color);
      border-radius: 0 !important;
      background-color: white !important;
    }
    .nav-log {
      color: black;
      font-weight: 500;
    }
  }
  input {
    border: none;
    border-radius: 0%;
    background: #f7f7f7;
    margin-top: 15px;
    width: 80%;
  }
}
// end menu
.block-user-login {
  @media (max-width: 420px) {
    left: 80px;
    top: 15px;
    position: absolute;
    display: none;
  }
  .text-name {
    color: #fff;
    cursor: pointer;
  }
  .dropdown-menu {
    top: 39px;
  }
}

.block-user-login-mb {
  font-size: 15px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: blue;
}

.navbar-light .navbar-nav .active {
  border-bottom: 2px solid #fff !important;
}

.info-logout {
  a {
    cursor: pointer;
  }
}

//
.nav-item-dropdown-custom {
  .dropdown-menu {
    background-color: var(--main-color);
  }
  a.dropdown-item-custom {
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    &:hover {
      color: var(--main-color) !important;
    }
  }
}

.dropdown:hover > .dropdown-menu-decktop {
  display: block;
  width: 230px;
}

.dropdown-item:hover > .dropdown-menu {
  display: block;
}

ul li {
  list-style-type: none;
  display: inline;
}

.navbar-nav .nav-link {
  display: inline-block;
}

.ml-auto {
  display: inline-block !important;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.itemMenuCustom::after {
  display: none;
}

.itemMenuCustom ~ i {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-item.dropdown.nav-item-dropdown-custom:hover
  .dropdown-menu
  > li.nav-item-dropdown-custom {
  margin-right: 0px !important;
}

.nav-item.dropdown.nav-item-dropdown-custom:hover
  .dropdown-menu
  > li.nav-item-dropdown-custom
  > a {
  width: 100%;
  font-size: 18px !important;
}

// login social
.container__login {
  margin-top: 50px;
  @media (max-width: 420px) {
    margin-top: 40px;
  }
  .container__login-text {
    h3 {
      font-size: 28px;
      text-transform: capitalize;
      margin-bottom: 5px;
      @media (max-width: 420px) {
        font-size: 24px;
      }
    }
    h6 {
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
}

.block__social {
  .container__login-with-facebook,
  .container__login-with-google {
    border: 1px solid #1877f2;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
    img {
      width: 35px;
      object-fit: cover;
      margin-right: 20px;
    }
    h6 {
      margin-bottom: 0;
      line-height: 35px;
    }
  }
  .container__login-with-google {
    border: 1px solid #ea4335;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// end footer
.nav-item-recipe:hover {
  border-bottom: none !important;
  a {
    cursor: pointer;
  }
}

.col-login {
  .btn-fb {
    color: #212529;
    background-color: transparent;
    background-image: none;
    border-color: #3b5998;
    font-weight: 500;
  }
  .btn-gg {
    color: #212529;
    background-color: transparent;
    background-image: none;
    border-color: #ea4335;
    font-weight: 500;
  }
  .btn-login {
    width: 70%;
    @media screen and (max-width: 560px) {
      width: 85%;
      text-align: left;
    }
    .img-login {
      width: 35px;
      height: 35px;
      object-fit: contain;
      margin-right: 10px;
    }
  }
}
.col-login:nth-child(1) {
  text-align: right;
  @media screen and (max-width: 560px) {
    text-align: center;
  }
}
.col-login:nth-child(2) {
  text-align: left;
  @media screen and (max-width: 560px) {
    text-align: center;
    margin-top: 10px;
  }
}
.col-login:nth-child(3) {
  text-align: right;
  @media screen and (max-width: 560px) {
    text-align: center;
  }
}
.col-login:nth-child(4) {
  text-align: left;
  @media screen and (max-width: 560px) {
    text-align: center;
  }
}

.nav-item-dropdown-custom {
  .dropdown-menu {
    background-color: var(--main-color);
  }
  a.dropdown-item-custom {
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    &:hover {
      color: var(--main-color) !important;
    }
  }
}

.dropdown:hover > .dropdown-menu-decktop {
  display: block;
  width: 280px;
  margin-top: 0;
}
.dropdown-menu.show {
  display: block;

  margin-top: 0;
}

.dropdown-item:hover > .dropdown-menu {
  display: block;
}

ul li {
  list-style-type: none;
  display: inline;
}

.navbar-nav .nav-link {
  display: inline-block;
}

.ml-auto {
  display: inline-block !important;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.itemMenuCustom::after {
  display: none;
}

.itemMenuCustom ~ i {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-item.dropdown.nav-item-dropdown-custom:hover
  .dropdown-menu
  > li.nav-item-dropdown-custom {
  margin-right: 0px !important;
}

.nav-item.dropdown.nav-item-dropdown-custom:focus {
  outline: 0 !important;
}

.nav-item.dropdown.nav-item-dropdown-custom:hover
  .dropdown-menu
  > li.nav-item-dropdown-custom
  > a {
  width: 100%;
  font-size: 18px !important;
}

@media (max-width: 420px) {
  .dropdown-menu {
    border: none !important;
  }
}

.nav-item-recipe:hover {
  border-bottom: none !important;
  a {
    cursor: pointer;
  }
}
.display-none {
  display: none !important;
}

.menu-icon:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu-mobile {
  width: 100% !important;
}
.li-dropdown {
  .dropdown-item:active {
    background: none !important;
  }
}
