<!-- ---------------------------------------- NEW------------------------------ -->
<div class="app">
  <!--header start-->
  <header class="header">
    <!--start info first-->

    <!-- ///// -->
    <div class="header-main">
      <div class="row display-mobile">
        <div class="col-10 align-items-center text-left">
          <a class="navbar-brand img-header-main mr-md-0" routerLink="/"><img src="../../../assets/images/logoUda.png"
              class="logo" alt="logo" class="img-header-main mr-md-0" /></a>
        </div>
        <div class="col-2 pl-4">
          <a (click)="isShowMenuMobile = !isShowMenuMobile" class="a-menu-mobile">
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="container display-desktop">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand p-0" routerLink="/"><img src="../../../assets/images/logoUda.png" class="logo"
              alt="logo" class="img-header-main mr-4" /></a>
        </nav>
      </div>
    </div>
    <div style="clear: both"></div>
    <!--end info first-->
  </header>
  <!--end header-->

  <!-- begin main -->
  <!-- <router-outlet></router-outlet> -->
  <div class="container">
    <div class="row">
      <div class="img-holder col-md-6">
        <div class="bg-img">
          <img src="../../../assets/images/login_img.png" style="width: 100%" />
        </div>
      </div>
      <div class="form-holder col-md-6">
        <div class="form-content">
          <!-- tab -->
          <ul class="nav nav-pills pb-5">
            <li class="nav-item">
              <a href="#login" data-toggle="tab" class="nav-link nav-log active">Đăng nhập</a>
            </li>

            <li class="nav-item">
              <a href="#register" (click)="isRegister = true" data-toggle="tab" class="nav-link nav-log">Đăng kí</a>
            </li>
          </ul>

          <!-- Nội dung -->
          <div class="tab-content pb-5">
            <div class="tab-pane container active" id="login">
              <div class="form-items">
                <h1 style="font-weight: 500; font-size: 35px">Đăng nhập</h1>
                <p style="font-size: 18px">
                  Đăng nhập để học và thi thử miễn phí.
                </p>
                <form [formGroup]="form2">
                  <input placeholder="Nhập Email" formControlName="Email" [(ngModel)]="inputLogin.Email" type="text"
                    class="form-control" />

                  <div class="alert alert-danger" style="width:80%" *ngIf="
                      form2.controls['Email'].invalid &&
                      form2.controls['Email'].dirty
                    ">
                    <div *ngIf="form2.controls['Email'].errors.required" i18n>
                      Vui lòng nhập trường này.
                    </div>
                    <div *ngIf="form2.controls['Email'].errors.email" i18n>
                      Vui lòng nhập đúng định dạng email.
                    </div>
                  </div>
                  <input placeholder="Nhập mật khẩu" [(ngModel)]="inputLogin.Password" formControlName="password"
                    type="password" class="form-control" placeholder="Nhập mật khẩu" />
                  <div class="alert alert-danger" *ngIf="
                      form2.controls['password'].invalid &&
                      form2.controls['password'].dirty
                    ">
                    <div *ngIf="form2.controls['password'].errors.required" i18n>
                      Vui lòng nhập trường này.
                    </div>
                    <div *ngIf="form2.controls['password'].errors.minlength" i18n>
                      Mật khẩu ít nhất 6 ký tự
                    </div>
                  </div>
                  <div class="form-button mt-3">
                    <a class="btn btn-success float-left mr-2 text-white" (click)="btnLogin()" type="submit"
                      style="background: var(--button-color)">Đăng nhập</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane container fade" id="register">
              <div class="form-items">
                <h1 style="font-weight: 500; font-size: 35px">Đăng kí</h1>
                <p style="font-size: 18px">
                  Tạo tài khoản để có thể nhận thông báo và thi thử miễn phí.
                </p>
                <form [formGroup]="form">
                  <input formControlName="Name" [(ngModel)]="inputOrderMenu.Fullname" type="text" class="form-control"
                    placeholder="Họ và tên" />
                  <div class="alert alert-danger" *ngIf="
                      form.controls['Name'].invalid &&
                      form.controls['Name'].dirty
                    ">
                    <div *ngIf="form.controls['Name'].errors.required" i18n>
                      Vui lòng nhập trường này.
                    </div>
                  </div>
                  <input [readonly]="isDisabledEmail" (focusout)="onCheckEmail(inputOrderMenu.Email)"
                    formControlName="Email" [(ngModel)]="inputOrderMenu.Email" type="text" class="form-control"
                    placeholder="Email" />
                  <div *ngIf="isCheckEmail" class="alert alert-danger">
                    <span><i class="fas fa-times-circle"></i> Email đã tồn
                      tại</span>
                  </div>
                  <div class="alert alert-danger" *ngIf="
                          form.controls['Email'].invalid &&
                          form.controls['Email'].dirty
                        ">
                    <div *ngIf="form.controls['Email'].errors.required" i18n>
                      Vui lòng nhập trường này.
                    </div>
                    <div *ngIf="form.controls['Email'].errors.email" i18n>
                      Vui lòng nhập đúng định dạng email.
                    </div>
                  </div>
                  <form [formGroup]="form1">
                    <div *ngIf="isRegister" class="form-group">
                      <input [(ngModel)]="inputOrderMenu.Password" formControlName="password" type="password"
                        class="form-control" placeholder="Nhập mật khẩu" />
                      <div class="alert alert-danger" *ngIf="
                          form1.controls['password'].invalid &&
                          form1.controls['password'].dirty
                        ">
                        <div *ngIf="form1.controls['password'].errors.required" i18n>
                          Vui lòng nhập trường này.
                        </div>
                        <div *ngIf="form1.controls['password'].errors.minlength" i18n>
                          Mật khẩu ít nhất 6 ký tự
                        </div>
                      </div>
                    </div>
                    <div *ngIf="isRegister" class="form-group">
                      <input formControlName="repassword" type="password" class="form-control"
                        placeholder="Nhập lại mật khẩu" />
                      <div class="alert alert-danger" *ngIf="
                          form1.controls['repassword'].invalid &&
                          form1.controls['repassword'].dirty
                        ">
                        <div *ngIf="form1.controls['repassword'].errors.required" i18n>
                          Vui lòng nhập trường này.
                        </div>
                        <div *ngIf="form1.controls['repassword'].errors.mustMatch">
                          Mật mới chưa trùng
                        </div>
                      </div>
                    </div>
                  </form>
                  
                  <div class="form-button pt-3">
                    <a class="btn btn-success float-left mr-2 text-white" *ngIf="isRegister" (click)="Register()"
                      type="submit" style="background: var(--button-color); width:100px">Đăng kí</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end main -->
</div>