
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.title-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-item{
margin-bottom: 20px;
margin-top: 40px;
}
.nav-link{
line-height: 30px;
}
.nav-link .title{
  font-size: 16px;
}
.nav-link:hover{
background: #258f1a;
border-radius: 30px;
}
.active{
color: white;
background: #075A07;
border-radius: 30px;
}
#sidebar-toggle {
  display: none;
}
.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: green;
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}
.material-icons{
position: relative;
top: 5px;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: #fff;
  font-size: .8rem;
}

.sidebar a span:last-child {
  padding-left: .6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header div span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}




#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 61.5px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
  padding-top: 15px;
}

.social-icons {
  display: flex;
  align-items: center;
  width: 70px;
}


main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 1rem;
}





@media only screen and (max-width: 1200px) {
  .band span a img .img-menu{
    display: none !important;
  }
  .sidebar {
      width: 60px;
      z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
      display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
      display: flex;
      justify-content: center;
  }

  .main-content {
      margin-left: 60px;
  }

  .main-content header {
      left: 60px;
      width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sidebar {
      width: 240px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
      display: inline;
  }
  #sidebar-toggle:checked ~ .sidebar .sidebar-header .band{
      display: none;
  }
  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
      display: none;
      justify-content: space-between;
  }


  #sidebar-toggle:checked ~ .sidebar li {
      display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
      margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
      left: 60px;
  }
}


