<input type="checkbox" id="sidebar-toggle" />
<div class="sidebar">
  <div class="sidebar-header">
    <div class="brand">
      <span
        ><a routerLink="/manager/admin"
          ><img class="img-menu" src="assets/images/logoUda.png" /></a
      ></span>
    </div>
    <label for="sidebar-toggle" class="ti-menu-alt"
      ><span class="material-icons toggle" style="cursor: pointer"
        >menu</span
      ></label
    >
  </div>
  <div
    style="background: #70b35d; width: 90%; height: 1px; margin-left: 5%"
  ></div>
  <div class="sidebar-menu">
    <ul class="menu">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="./a1-user"
          routerLinkActive="active"
          aria-expanded="false"
        >
          <span class="material-icons" title="Users">person</span><span class="title">Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="./b1-category"
          routerLinkActive="active"
          aria-expanded="false"
        >
          <span class="material-icons" title="Exam's Categories"> vertical_split </span
          ><span class="title">Exam's Categories</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="./c1-exam"
          routerLinkActive="active"
          aria-expanded="false"
        >
          <span class="material-icons" title="Exams">description</span><span class="title">Exams</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="./d1-question"
          routerLinkActive="active"
          aria-expanded="false"
        >
          <span class="material-icons" title="Questions"> help </span><span class="title">Questions</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="./e1-listuser"
          routerLinkActive="active"
          aria-expanded="false"
        >
          <span class="material-icons" title="Candidates">supervisor_account</span
          ><span class="title">Candidates</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <div class="title-wrapper">
      <p style="color: green; font-size: 30px;">TOEIC UDA Management</p>
    </div>
    <div class="social-icons">
      <p>Hi, Admin</p>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
