.modal-body-autload {
    img {
        width: 800px;
        height: 560px;
        object-fit: cover;
        @media (max-width: 420px) {
            width: 100%;
            height: auto;
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog-custom {
        min-width: 800px !important;
        min-height: 560px!important;
        button.close {
            cursor: pointer;
            position: absolute;
            top: -10px;
            right: -1px;
            height: 50px;
            z-index: 1;
            color: #fff;
            font-size: 50px;
        }
        button.close>span:focus {
            outline: none!important;
        }
    }
}
